100 ^;)^

111 ^Welcome to a brand new frontier. The Simland Ilses are an archipelago based due North-East of Sunrise Crater. After the Crater became uninhabitable following a cataclysmic event, Sims needed a new place to settle. Some come from the Crater, and others are brand new to the region. With beaches, rolling hills and the chilly peaks of its surrounding mountains, there's always something exciting going on and there are always new people to meet.^